# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist/*
.yarn
yarn.lock
.DS_Store
dist-ssr
coverage
*.local

# Package build outputs
packages/*/lib/
packages/*/es/
packages/*/dist/

# VitePress
docs/.vitepress/cache/
docs/.vitepress/dist/
.vitepress/cache/
.vitepress/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?